@import "tailwindcss";

body,
html {
  scroll-behavior: smooth;
}

body {
  background: #09090b;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
